.CharacterDetails{
  position: relative;
  margin: auto;
  max-width: 80%;
  background-color: #001D3D;
  color:#FFC300;
}

.body{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info{
  width: 40%;
}
.Photo{
 width: 40%;
}
.Photo img{
width: 100%;
}

.formulaire{
  display: none;
  padding: 150px;
  background-color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}
.ContactForm{
  display: flex;
  flex-direction: column;
}
.active{
  display: block;
}