.CharacterDetails{
  position: relative;
  margin: auto;
  max-width: 80%;
  background-color: #001D3D;
  color:#FFC300;
}

.body{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info{
  width: 40%;
}
.Photo{
 width: 40%;
}
.Photo img{
width: 100%;
}

.formulaire{
  display: none;
  padding: 40px;
  background-color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}
.ContactForm{
  display: flex;
  flex-direction: column; 
}
.ContactForm input{
  margin-bottom: 10px;
  background-color: #013a63;
  color: rgb(163, 230, 53);
  border: 1px solid rgb(163, 230, 53);
  border-radius: 5px;
}
.active{
  display: block;
}
.ContactForm .valide{
  width: 100px; 
  background-color: #013a63;
  color: rgb(163, 230, 53);
  border: 1px solid rgb(163, 230, 53);
  border-radius: 5px;
}
.btn{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 10px;
  
  
}
.retour{
  height: 20px;
  background-color: #013a63;
  color: rgb(163, 230, 53);
  border: 1px solid rgb(163, 230, 53);
  border-radius: 5px;
}
.activation{
  background-color: #013a63;
  color: rgb(163, 230, 53);
  border: 1px solid rgb(163, 230, 53);
}
